<div id="main_image">
	<%= category_image()%>
</div>

	<% for section in @sections %>
		<h3 class="float_fix"><%= section.sub_cat %></h3>
			<% if @products.nil? %>
			<p>There are currently no products for sale.</p>
			<% else %>
			<% for product in @products%>
				<% if product.sub_cat == section.sub_cat %>
				<div class="products">
					<h4><%= product.code %> <%= link_to product.title, :action => "view_product", :id => product.id %></h4>
					<%= product_image(product.id, product.title)%>
					<p><%= number_to_currency(product.price) %></p>
				</div>
				<% end %>
			<% end %>
			<% end %>		
		</div>		
	<% end %>
